* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 35px;
}

header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"),
        url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

/* Banner section style */
.banner {
    display: flex;
    align-items: center;
    margin: 20px 200px 0 200px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-contact {

    border: 1px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FD6E0A;
    border-radius: 5px;
    background-color: transparent;
    padding: 18px 24px;
    margin-left: 30px;
}

/* main section */
main {

    max-width: 1140px;
    margin: 0 auto;

}

/* About me section */
.aboutme {
    background-color: #FFFFFF;
    margin-top: 130px;
    margin-bottom: 130px;

}

.text-aboutme {
    height: 288px;
    width: 827px;
    margin: auto;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;
}

.section-header {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;

}

.section-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    color: #474747;
}

.whatIdo>p {
    text-align: center;
    padding: 10px 100px;
}


.card-section {
    max-width: 100%;
    display: flex;

}

.card {
    text-align: left;
    max-width: 30.33%;
    margin: 1%;
    width: 267px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.card img {
    margin-left: 30px;
    margin-top: 30px;
}

.card-header,
.card-description {
    margin: 30px;

}

/* summery section */
.summery {
    margin-top: 130px;
    max-width: 100%;

}

.education-experience-container {
    display: flex;
    gap: 71px;
}

.resume-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;

    color: #474747;
}

.resume-content {
    text-align: left;
}

.resume-content .title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume-content .sub-title {
    margin-top: 10px;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 20px;
    color: #757575;

}

.resume-content .description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;


}

hr {
    height: 1px;
    color: #d1d1d1;
}

.resume-btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 113px;
}

/* contact section */
footer {
    background: #FFF8F3;
}

.contact {
    display: flex;
    gap: 117px;

    max-width: 1140px;
    margin: 0 auto;

}

.part-of-contact {
    margin-top: 130px;
}

.part-of-contact h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;

    margin-bottom: 20px;
}

.part-of-contact p {
    font-weight: 400;
    font-size: 16px;


    color: #474747;

    margin-bottom: 30px;
}

[type="text"],
[type="email"] {
    display: block;
    margin-top: 26px;
    width: 461px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
}

textarea {
    display: block;
    margin-top: 26px;
    width: 461px;
    height: 180px;
    background: #FFFFFF;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #909;
    padding-left: 10px;
}

.btn-submit {
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;


    color: #FFFFFF;

    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 18px 39px;

    margin-top: 24px;
    margin-bottom: 130px;
}